.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  min-height: 100vh;
  background-color: #0d0a0b;
}


.about{
  margin-top: 4em;
}

.cards{
  display: flex;
}